<div id="<%= dom_id procedure %>">
  <p>
    <strong>Procedure type:</strong>
    <%= procedure.procedure_type %>
  </p>

  <p>
    <strong>Observation:</strong>
    <%= procedure.observation %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= procedure.date %>
  </p>

  <p>
    <strong>Teeth:</strong>
    <%= procedure.teeth %>
  </p>

</div>
